########################################
# Python
########################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

########################################
# Virtual environments
########################################
.venv/
venv/

########################################
# Environments & IDE
########################################
.env
.env.*
.vscode/
.idea/
.DS_Store
Thumbs.db

########################################
# Build artifacts
########################################
build/
dist/
*.spec

########################################
# App-specific
########################################
# UI saved state
app_settings.json

# Local data (do not commit)
test_files/
field_tools/

# Version file
update_config.py
version.json

# building
/deploy/